In [108]:
# IMPORT REQUIRED MODULES
import pandas as pd
import datetime

In [122]:
# DEFINE VARIABLES
today = pd.datetime.today().date()
my_time_delta = 30

C:\Users\dimak\AppData\Local\Temp/ipykernel_23652/3559737466.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  today = pd.datetime.today().date()

In [123]:
# READ SAMPLE DATA AND FIX FORMATTING
df = pd.read_csv('sample-data-metal-cases.csv') #read csv file
df['posting_date'] = pd.to_datetime(df['posting_date'], format=("%Y.%m.%d")) #define posting_date



# DESCRIBE RAW DATAFRAME
print(df.dtypes)
df.head()

customer                          int64
posting_date             datetime64[ns]
goods_movement_type               int64
quantity_in_base_unit           float64
dtype: object

   customer posting_date  goods_movement_type  quantity_in_base_unit
0   1000096   2022-03-14                  621                   24.0
1   1000700   2022-03-14                  621                   12.0
2   1000900   2022-03-14                  621                    3.0
3   1000900   2022-03-14                  621                    2.0
4   1000603   2022-03-14                  621                    3.0

In [124]:
total_cases_customer = df[['customer', 'quantity_in_base_unit']].groupby(["customer"]).sum().reset_index()
total_cases_customer = total_cases_customer.rename(columns={'quantity_in_base_unit': 'current_stock'})
total_cases_customer[total_cases_customer['customer'] == 1000096].head(3)

   customer  current_stock
5   1000096          433.0

In [168]:
#filter for less then 30 days
selected_date_range = pd.date_range(today - pd.to_timedelta(my_time_delta, unit='d'), today, freq='D')
df_selected = df[df["posting_date"].isin(selected_date_range)]
df_selected=df_selected[['customer','quantity_in_base_unit']].groupby(['customer']).sum().reset_index()
df_selected=df_selected.rename(columns={'quantity_in_base_unit':"less_then_30_days"})
df_selected[df_selected['customer'] == 1000096].head(1)

   customer  less_then_30_days
3   1000096              193.0

In [161]:
#filter for more then 30 days
selected_date_range = pd.date_range(today - pd.to_timedelta(my_time_delta, unit='d'), today, freq='D')
df_selected_for_more = df[~df["posting_date"].isin(selected_date_range)]
df_selected_for_more=df_selected_for_more[['customer','quantity_in_base_unit']].groupby(['customer']).sum().reset_index()
df_selected_for_more=df_selected_for_more.rename(columns={'quantity_in_base_unit':"more_then_30_days"})
df_selected_for_more[df_selected_for_more['customer'] == 1000096].head(1)

   customer  more_then_30_days
4   1000096              240.0